.mobile
{
    display: flex; flex: 1; flex-direction: column;
    margin: 0.1rem;
    border-radius: 0.3rem;
    background-color: rgb(232, 232, 232);
}
.mobile-title
{
    display: flex; 
    padding: 1rem; padding-left: 5rem;
    background-color: rgb(196, 164, 164);
    border-radius: 0.1rem;
    position: sticky; top: 5rem; z-index: 10;
    font-size: 2rem;
    font-weight: bold;
}
.mobile-title:hover
{
    background-color: rgb(189, 141, 141);
}
.mobile-content
{
    display: grid; grid-template-columns: auto auto auto; row-gap: 1rem;
    margin: 0.1rem;
    justify-content: center;
}

